body {
    background-color: white;
}

p {
    margin-bottom: 0;
}

ol {
    margin-top: 0;
}

.romans {
    list-style-type: upper-roman;
    text-indent: 25px;
}

.letters {
    list-style-type: lower-latin;
}