body {
    background-color: white;
}

div {
    /* border: 2px dashed white; */
    /* margin-top: 5px; margin-right: 5px;  margin-bottom: 5px; margin-left: 5px; */
    /* padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px; */
}

#div1 {
    background-color: blueviolet;
    height: 15vh;
}

#div2 {
    background-color: orange;
    float: left;
    width: 50vw;
    height: 85vh;
}

.div2-menu {
    background-color: cornflowerblue;
    height: 5vh;
}

#div3 {
    background-color: red;
    float: left;
    width: 50vw;
    height: 85vh;
}

table {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: yellow;
}

td {
    border: 1px solid black;
}